.button{
width: 170px;
height: 47px;
margin-top: 13px;
margin-left: 1238px;
padding: 10px 16px 10px 16px;
gap: 10px;
border-radius: 12px 0px 0px 0px;
border: 1px 0px 0px 0px;
background-color: #121212;
cursor: pointer;
}