.container {
    background-color: #121212;
    height:270px;
    width:100%;
    display:flex;
    align-items: center;
    gap:10px;
}

.hero {

}
.hero-image {
height: 212px;
width: 212px;
margin-top: 103px;
margin-left: 915px;
}