.hero {
    background-color: #121212;
    height:80px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.hero-image {
height: 212px;
margin-top: 103px;
margin-left: 915px;
}