.hero {
    background-color: #121212;
    height:270px;
    width:100%;
    display:flex;
    justify-content: space-between;
    color:white;
    box-sizing: border-box;
}
.hero-image {
height: 212px;
width: 212px;
margin-top: 103px;
margin-left: 915px;
}