.navbar {
    background-color: #34c94b;  
    width: 100%;
    height: 80px; 
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:5px;
     }

     /*padding: 10px; box-sizing: border-box;/
